#{extends 'main.html' /} 
#{set title:'PlayAttend' /}

<div id="masthead">
	<p id="first-line">Futures. Now.</p>
	<p id="second-line">Our Objective:</p>
	<p id="third-line">Helping you to make Money</p>
	<p id="fourth-line">
		Daily Comments / Daily Support and Resistance Levels<br />Weekly
		Market Outlook / Custom Market Outlooks
	</p>
	<a class="button" href="#">Learn more</a>
</div>
<div id="content">
	<p id="about-us">
		Sign up with us and start experiencing the many benefits of investing.
		We're backed by years of experience making the right decisions for
		people. <a href="#">Read About Us &raquo;</a>
	</p>

	<div class="column left">
		<img src="public/images/pic1.jpg" alt="Pic" />
		<h2>Feedback / Registration</h2>
		<p>Tell us what you think about our web site, our recommendations,
			our people, or to sign up for access. . We welcome all of your
			comments and suggestions.</p>
		<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			fugiat quo voluptas nulla pariatu</p>
	</div>

	<div class="column middle">
		<img src="public/images/pic2.jpg" alt="Pic" />
		<h2>Owner's Registration</h2>
		<p>Tell us what you think about our web site, our recommendations,
			our people, or to sign up for access. . We welcome all of your
			comments and suggestions.</p>
		<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			fugiat quo voluptas nulla pariatu</p>
	</div>

	<div class="column right">
		<img src="public/images/pic3.jpg" alt="Pic" />
		<h2>Helpful Links / Info</h2>
		<p>Tell us what you think about our web site, our recommendations,
			our people, or to sign up for access. . We welcome all of your
			comments and suggestions.</p>
		<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit
			esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			fugiat quo voluptas nulla pariatu</p>
	</div>

	<p id="contact-us">
		Contact Us Today for a consultation: 800-555-1212 or <a href="#">Email</a>
		host[at]corporateblue.net
	</p>
</div>
